html{overflow-y:scroll;}
body{background:#ebebeb url(/images/bg.png) repeat;text-align:center;font-family:Georgia, "DejaVu Serif", Times, "Times New Roman", serif;font-size:62.5%;line-height:1.5;color:#111;}
@font-face{font-family:"Museo Sans Regular Italic";src:local("Museo Sans"), url(/fonts/MuseoSans_500_Italic.otf) format("opentype");font-style:italic;}
div#container{background-color:#FFF;border-top:#666 .8em solid;text-align:left;width:96em;box-shadow:0 0 4em #ccc;-webkit-box-shadow:0 0 4em #ccc;-moz-box-shadow:0 0 4em #ccc;margin:0 auto;padding:4.8em 0;}
h3,h4,h5,h6{font-family:"Museo Sans Regular", "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;}
h2{font-size:3.2em;color:#666;margin-bottom:.5em;}
h3,div#footer h2{font-size:2.4em;color:#b00;margin:.666em 0;}
h4{font-size:1.8em;color:#111;margin:.888em 0;}
h5{font-size:1.4em;font-weight:700;color:#111;margin:1.142em 0;}
p{font-size:1.6em;text-align:justify;padding:0;}
a,a:hover,a:active,a:focus{text-decoration:none;}
a:hover,a:active,a:focus{color:#111;border-bottom:1px solid #999;background-color:#fbeec2;}
a.internal{color:#666;font-family:"Museo Sans Regular", "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;}
abbr,acronym,.caps{font-style:normal;letter-spacing:.062em;text-transform:lowercase;font-variant:small-caps;}
input[type=submit],label,select,.pointer{cursor:pointer;}
div.hero,div.sidebar{width:46.4em;display:block;}
div#nav,div#notebook,div#footer{padding:2.4em 0;}
div#nav,div#cover{padding-left:4.8em;padding-right:4.8em;}
div.center{width:86.4em;margin:0 4.8em;}
.floatLeft{float:left;display:block;}
.floatRight{float:right;display:block;}
.clear{clear:both;}
.block{display:block;}
.inline{display:inline;}
.colOne{width:6.4em;}
.colTwo{width:14.4em;}
.colThree{width:22.4em;}
.colFour{width:30.4em;}
.colFive{width:38.4em;}
.colSix{width:46.4em;}
.colSeven{width:54.4em;}
.colEight{width:62.4em;}
.colNine{width:70.4em;}
div.logo{width:30.4em;padding-bottom:4.8em;}
div.logo img{width:22.4em;height:34.2em;padding:0 4em;}
div.article-logo{padding:2.4em 0 4.8em;}
h1{position:relative;text-align:left;line-height:1;font-size:6.4em;font-weight:400;font-style:normal;text-transform:lowercase;margin-bottom:.375em;letter-spacing:.031em;}
h1,h1 a span.italic{font-style:italic;}
h1 a:hover span.hoverline{border-bottom:1px solid #999;}
h1 a:hover,h1 a:active,h1 a:focus{color:#333;border:none;background-color:#FFF;}
div.hero{width:54.4em;padding-top:3.6em;}
div.hero p.moin{font-size:2em;margin-bottom:1em;letter-spacing:.025em;word-spacing:.05em;color:#111;text-align:left;}
div.hero p.moin span.amp{font-size:1.05em;line-height:0.909;}
div.hero p{font-size:1.6em;color:#333;}
div.skip span{font-size:1.6em;float:right;padding-top:3em;color:#666;letter-spacing:.031em;word-spacing:.062em;}
div#nav{background-color:#333;color:#FFF;border-top:1px solid #999;}
ul.nav-footer li{padding-bottom:.363em;}
ul.nav li{float:left;font-size:2.2em;padding-right:1.909em;letter-spacing:.045em;}
ul.nav li a{display:block;color:#999;}
ul.nav-header li a{display:block;color:#999;text-shadow:1px 1px 1px #222;}
ul.nav li a:hover{border:none;}
ul.nav-footer li a:hover{background-color:#FFF;color:#333;}
ul.nav-header li a:hover{color:#ff8000;background-color:#333;}
ul.nav li span.amp{font-size:.954em;}
input{font-size:1.6em;font-family:Georgia, "Bitstream Vera Serif", Times, "Times New Roman", serif;padding:.25em;}
input#s{margin-right:.5em;}
div#cover{padding-top:3.2em;padding-bottom:4.8em;background-color:#e8dcb1;border-bottom:1px solid #c4ba92;border-top:1px solid #c4ba92;}
div#cover.archives{font-size:1.375em;margin-bottom:3.49em;}
div.index h2,div.subhero-preview h2,div.subhero-preview h3,div.index span.day,p.more,div.index span.month,div.index span.year,div.index span.title,div.subhero-preview p{text-shadow:1px 1px 1px #FFF;}
div.index h2,div.subhero-preview h2{font-size:1.4em;padding-bottom:1.142em;margin:0;}
div.subhero-preview h3{font-family:Georgia, "DejaVu Serif", Times, "Times New Roman", serif;font-size:1.6em;color:#777;margin-top:1em;}
div.subhero-preview h3 span.episode-title{color:#333;}
div.subhero-preview p{font-size:1.4em;font-family:"Museo Sans Regular", "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;text-align:left;color:#444;margin-bottom:.5em;}
div.index h2{border-bottom:1px dotted #FFF;}
div.index ul{position:relative;}
div.index li{font-size:1.6em;border-bottom:1px dotted #FFF;}
div.index li a{display:block;color:#555;padding:1em 0;}
div.index li a:hover{border:none;color:#222;background-color:#fbeec2;}
div.index span.day{width:2em;text-align:right;position:absolute;left:0;}
span.month{color:#777;}
div.index span.month{text-align:left;position:absolute;left:3em;}
div.index span.year{text-align:left;position:absolute;left:5.5em;}
div.index span.title{position:relative;left:7.5em;width:19em;display:block;color:#333;}
div#cover.archives div.index span.title{left:10.5em;width:23em;}
div#cover a.internal{margin-top:1em;font-size:.875em;border-bottom:1px solid transparent;}
div#cover a.internal:hover{border-bottom:1px solid #999;background-color:transparent;}
div#notebook{padding-top:3.2em;}
div#notebook div.page-nav-top{padding-bottom:4.8em;}
div#notebook span.page-nav-item{font-size:1.4em;}
div#notebook div.page-nav-bottom{padding-top:2.4em;margin:2.4em 0 4.8em;}
div#notebook h2{margin-left:-3.75em;border-bottom:1px solid #ccc;width:27em;padding:1em 0;}
div#notebook h2,div.page-meta,div#notebook div.page-nav-bottom{border-top:1px solid #ccc;}
div#notebook h2 a:hover{background-color:#FFF;border:none;}
div#notebook h2 span.tagline{font-size:.562em;font-style:italic;color:#666;display:block;margin-left:5.62em;padding:.5em 0;}
div#notebook span.date{width:11.1em;display:block;font-size:1.6em;background-color:#FFF;margin:-1.9em 0 2em -.5em;padding:0 .2em 0 .5em;}
div#notebook span.date span.year{color:#999;}
div#notebook span.date span.published{font-size:.875em;color:#666;}
div#notebook div.meta{padding-top:.5em;width:38.4em;border-top:.2em solid #ccc;font-family:"Museo Sans Regular", "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;margin:2em 0;}
div#notebook div.meta span{font-size:1.4em;color:#333;display:block;}
div.entry-content,div.page-content{margin:0 auto;}
div.entry-content span.date + p{font-size:1.8em;float:right;margin-bottom:.444em;text-indent:0;display:block;}
div.entry-content span.date + p:first-letter{margin-left:-1.071em;margin-right:100%;margin-bottom:-.894em;font-size:6.222em;padding-right:.071em;line-height:0.9;color:#b00;text-align:right;float:right;}
div.entry-content span.date + p:first-line{font-variant:small-caps;letter-spacing:.06em;}
div.entry-content p.note,div.page-content p.note{text-indent:.5em;}
div.entry-content p.note:before,div.page-content p.note:before{content:"\2767 \0020";color:#b00;font-size:1.25em;}
div.entry-content p,div.page-content p{margin-bottom:.25em;text-indent:1.8em;}
div.entry-content ul,div.entry-content ol,div.page-content ul,div.page-content ol{margin-bottom:.5em;font-size:1.6em;padding:0;}
div.entry-content img{margin-bottom:.5em;}
div.entry-content p.caption,div.page-content p.caption{font-size:1.4em;font-family:"Museo Sans Regular", "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;color:#555;margin-bottom:.571em;display:block;text-align:left;}
div.entry-content p code,div.page-content p code{font-size:.875em;}
div.entry-content ul,div.page-content ul{list-style:circle;}
div.entry-content ol,div.page-content ol{list-style:lower-roman;}
div.entry-content ol.references,div.entry-ul.references,div.page-content ol.references,div.page-ul.references{list-style:none;font-size:1.4em;}
div.entry-content ol.references li,div.entry-content ul.references li,div.page-content ol.references li,div.page-content ul.references li{margin-bottom:.75em;}
div.entry-content li,div.page-content li{margin-bottom:.25em;}
div.entry-content blockquote,div.page-content blockquote{color:#444;margin:1em 2.8em;}
div.entry-content blockquote p,div.page-content blockquote p{text-indent:0;}
div#portfolio{border-top:.8em solid #333;padding-top:1px;}
div.portheader{width:86.4em;background:#444;padding:1em 0;}
div#portfolio h2{font-size:1.4em;font-variant:small-caps;text-transform:lowercase;color:#999;background-color:#444;display:inline;padding-left:.714em;}
div#portfolio h3{font-size:1.6em;font-style:italic;color:#FFF;background:#444;margin-bottom:0;display:inline;position:absolute;padding-left:.5em;font-family:Georgia, "DejaVu Serif", Times, "Times New Roman", serif;left:0;}
div#portfolio img{float:left;margin:0;padding:1px 0;}
div#slider ul,#slider li{list-style:none;margin:0;padding:0;}
div#slider,#slider li{width:86.4em;height:34em;overflow:hidden;}
div.controllers{position:relative;background:#444;color:#FFF;height:4.2em;margin-bottom:1px;}
div.controllers a{color:#FFF;}
div.controllers a:hover,div.controllers a:active,div.controllers a:focus{color:#6cf;background-color:#444;border:none;}
span.prev,span.next,span.info{position:absolute;}
span.prev,span.next{font-variant:small-caps;font-size:1.4em;background:#444;color:#FFF;letter-spacing:.071em;padding:.714em;}
span.next{right:0;}
span.info{font-size:2.8em;font-style:italic;left:15em;}
div#footer{border-top:.8em solid #333;padding-top:.8em;height:32em;}
span.backtop{font-size:1.4em;margin-top:.571em;}
div.page-meta{padding-top:4.8em;}
div.type-folly{font-size:1.6em;text-align:left;position:relative;line-height:1;float:left;}
div.type-folly em{font-size:2em;color:#333;}
div.type-folly em span{font-size:.75em;position:absolute;top:1.083em;left:2.083em;color:#333;}
div.type-folly em span span{font-size:.666em;font-weight:700;position:absolute;top:0;left:2.25em;color:#333;}
div.type-folly em span span span{font-size:3em;position:absolute;top:.333em;left:-1.374em;z-index:0;color:#b00;}
div.type-folly em span span span span{font-style:normal;font-weight:400;font-size:.583em;position:absolute;z-index:1;top:.5em;left:4.142em;color:#999;}
div.type-folly em span span span span span{font-style:normal;font-family:"Kozuka Gothic Pro", sans-serif;font-size:1.142em;position:absolute;top:0;left:.437em;color:#e17071;}
div.type-folly em span span span span span span{font-size:.875em;font-family:Georgia, "DejaVu Serif", Times, "Times New Roman", serif;position:absolute;color:#999;top:0;left:1.214em;}
div.type-folly strong{font-weight:400;font-style:italic;font-size:1.125em;position:absolute;color:#333;top:4.888em;left:.444em;}
div.type-folly strong span{position:absolute;font-size:3.111em;top:-.107em;left:.428em;color:#111;}
div.type-folly strong span span{font-size:1.142em;font-family:"Palatino Linotype", Palatino, Baskerville, Times, "Times New Roman", Georgia, serif;position:absolute;top:.593em;left:-.687em;color:#369;}
div.type-folly strong span span span{font-size:.875em;font-family:"Museo Sans Regular", "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;font-style:normal;color:#111;position:absolute;top:.321em;left:.928em;}
div.type-folly span.markup{position:absolute;font-size:.875em;top:14.285em;left:0;color:#333;width:28em;}
div.info{float:left;width:48.8em;padding-right:4.8em;}
div.info p,div.legal p{text-align:left;}
p.vcard{float:left;width:30.5em;}
span.index{padding-top:2px;text-indent:-1.333em;font-size:2.6em;line-height:0.7;display:block;float:left;}
div#footer p{font-size:1.4em;color:#333;}
div#footer p.copyright{margin-top:2.4em;}
div#footer h2{margin:1em 0 .5em;}
span.amp{font-family:"Palatino Linotype", Palatino, Baskerville, Times, "Times New Roman", Georgia, serif;font-style:italic;line-height:1;}
p span.amp{font-size:1.125em;line-height:0.888;}
span.u{text-decoration:underline;}
p sup{vertical-align:text-top;}
p sub{vertical-align:text-bottom;}
.calloutRight,.calloutLeft{font-size:2.4em;color:#333;text-align:left;width:12.666em;padding:0 1em .25em;}
.calloutRight{float:right;margin-right:-5.333em;}
.calloutLeft{float:left;margin-left:-5.333em;}
blockquote[cite]:after{display:block;text-align:right;content:"\2014\ " attr(cite);font-style:normal;font-size:1.2em;font-family:"Museo Sans Regular", "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;}
pre{overflow:auto;margin:2em 0;}
code{font-family:Monaco, "Andale Mono", "Courier New", Courier, monospace;white-space:pre;}
code.markup span.content{color:#ff0080;}
code span.element{color:#4881d6;}
code span.property{color:#930;}
code span.attribute{color:#693;}
a,div.entry-content a,div.page-content a{color:#369;}
a.internal:hover,a.internal:active,a.internal:focus,div#notebook span.date span.month,div.entry-content a:hover,a:active,a:focus,div.page-content a:hover,div.page-content a:active,div.page-content a:focus,div.entry-content a:visited:hover,div.page-content a:visited:hover{color:#111;}
h1 a span.middot,div.entry-content a:visited,div.page-content a:visited,code.markup,code.css{color:#666;}
h1 a,div.subhero-preview h3 span.episode-no,span.day{color:#b00;}
div.subhero-preview p.more,pre code{font-size:1.6em;}