---
layout: base
title: Simon Pascal Klein&thinsp;&mdash;&thinsp;Graphic &amp; web design professional
---
        {% include header-home.html %}
		{% include nav.html %}
		{% include cover.html %}
        {% for post in paginator.posts %}
		<div id="notebook" class="center clear">
			<!-- <div class="page-nav-top">
                {% if paginator.next_page %}
				<span class="page-nav-item floatLeft"><a class="internal" rel="prev"  href="{{ paginator.next_page }}" title="">&larr; View older articles</a></span>
				{% endif %}
				{% if paginator.previous_page %}
				<span class="page-nav-item floatRight"><a class="internal" rel="next"  href="{{ paginator.previous_page }}" title="">View newer articles &rarr;</a></span>
                {% endif %}
            </div> -->
            <div class="entry-content colEight">
                <h2 class="clear">
                    <a href="{{ post.url }}/#notebook" title="{{ post.title }}">
                        {{ post.title }}
                        </a>
                    </h2>
                <span class="date" title="{{ post.date | date_to_xmlschema }}">
                    <span class="published">Published&thinsp;&bull;</span>
                    <span class="day">{{ post.date | date: '%d' }}</span>
                    <span class="month"><abbr>{{ post.date | date: '%b' }}</abbr></span>
                    <span class="year">{{ post.date | date: '%Y' }}</span>
                </span>
                {{ post.content }}
                <div class="meta">
                    <!-- <span class="pdf">Download a <a href="{{ post.url }}.pdf" title="Download a PDF, printer-friendly copy of this article"><acronym title="Portable Document Format">PDF</acronym>, printer-friendly version of this article</a>.</span> -->
                    <span class="permalink">For referencing: <a href="{{ post.url }}" title="[Permalink] {{ post.title }}">permalink to this article</a>.</span>
                </div> <!-- /.meta -->
            </div> <!-- /.entry-content.colEight -->
            <!-- <div class="page-nav-bottom">
                {% if paginator.next_page %}
				<span class="page-nav-item floatLeft"><a class="internal" rel="prev"  href="{{ paginator.next_page }}" title="">&larr; View older articles</a></span>
				{% endif %}
				{% if paginator.previous_page %}
				<span class="page-nav-item floatRight"><a class="internal" rel="next"  href="{{ paginator.previous_page }}" title="">View newer articles &rarr;</a></span>
                {% endif %}
            </div>  -->
        </div> <!-- /#notebook.center.clear -->
        {% endfor %}
        {% include portfolio.html %}