        <div id="cover" class="clear">
			<div class="index colSix floatLeft">
				<h2>Recently from the <em>Notebook</em>&hellip;</h2>
				<ul>
				    {% for post in site.posts limit:3 %}
					<li>
						<a href="{{ post.url }}/#notebook" title="{{ post.title }}">
							<span class="date">
								<span class="day">{{ post.date | date: '%d' }}</span> 
								<span class="month"><abbr>{{ post.date | date: '%b' }}</abbr></span>
							</span> 
							<span class="title">{{ post.title }}</span>
						</a>
					</li>
                    {% endfor %}
				</ul>
				<p class="more"><a class="internal floatRight" href="/archives.html#cover" title="View the notebook archives">&hellip;flick through the archives</a></p>
			</div> <!-- /.index.colSix.floatLeft -->
			<div class="subhero-preview colFour floatRight">
				<h2>Recently from the <em>Podcast</em>&hellip;</h2>
				<h3><span class="episode-no">Episode 02</span>&thinsp;&mdash;&thinsp;<span class="episode-title">&lsquo;1950s Radio Man&rsquo;</span></h3>
				<p>Covering updates on webfonts, notably the TypeCon &rsquo;09 web panel <span class="amp">&amp;</span> thoughts re. <acronym title="Embedded OpenType">EOT</acronym></p>
				<p>The second feature focuses on security, with goodness for all (sys. admins, developers, designers, copywriters, managers, etc.).</p>
				<p class="more"><a class="internal floatRight" href="http://arcwhite.org/2009/08/03/a-capital-duo-talk-tech-episode-two-1950s-radio-man/" title="Listen to the show on arcwhite.org (external)">&hellip;listen to the show</a></p>
			</div>
			<div class="clear"></div>
		</div> <!-- /#cover.clear -->
