        <div id="footer" class="center clear">
			<ul class="nav nav-footer caps">
				<li><a href="/about.html" title="About &amp; contact information" tabindex="0">About <span class="amp">&amp;</span> Contact</a></li>
				<li><a href="/archives.html#cover" title="View the notebook entries" tabindex="0">Notebook</a></li>
				<li><a href="/#portfolio" title="Skip back up to the portfolio" tabindex="0">Portfolio</a></li>
				<li><a href="http://feeds.feedburner.com/klepas" title="Feed link" tabindex="0">Feed</a></li>
			</ul>
			<span class="backtop floatRight"><a class="internal" href="#header" title="Return to the top of this page">Back to top &uarr;</a></span>
			<div class="page-meta clear">
				<div class="info">
					<span class="index">&#9758;</span><p class="vcard"><a href="/files/Simon-Pascal-Klein.vcf" title="Download Simon Pascal Klein&rsquo;s addressbook vCard">Add me to your address book via vCard</a>.</p>
					<p class="copyright clear">Proudly bending beziers since <abbr class="date" title="2004">MMIV</abbr>&ndash;; copyright &copy; Simon Pascal Klein thereon.</p>
					<p class="licensing"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/au/" title="Content, unless specificed, licensed under a Creative Commons license">Some rights reserved</a>.</p>
					<p>For an overview of the site, see the <a href="/sitemap/" title="View the site map">site map</a> or <a href="/archives.html#cover" title="View the notebook archives">notebook archives</a>.</p>
					<h2>A playful tumble with <em>type</em>&hellip; &rarr;</h2>
					<p>&hellip;yes, <em>type</em>, not a graphic; try selecting it or resizing the page font size. Inspired by <a href="http://jontangerine.com/" title="jontangerine.com: Jon Tan&rsquo;s website">Jon Tan</a>&rsquo;s masterhead type folly, this is achieved just with some simple nested <code><span class="element">span</span></code> elements that are positioned absolutely against their relative parents, and the entire thing is sized in ems and scales nicely.</p>
				</div>
				<div class="type-folly">
					<em>Type
						<span>set
							<span>with
								<span>love
									<span>{
										<span>&hearts;
											<span>}</span>
										</span>
									</span>
								</span>
							</span>
						</span>
					</em>
					<strong>in
						<span>Georgia
							<span>&amp;
								<span>Museo</span>
							</span>
						</span>
					</strong>
					<span class="markup">&hellip;all in mostly valid <a rel="external" href="http://jigsaw.w3.org/css-validator/check/referer"><acronym title="Cascading Style Sheets">CSS</acronym></a> <span class="amp">&amp;</span> <a rel="external" href="http://validator.w3.org/check?uri=referer"><acronym title="eXtensible Hyper Text Markup Language">XHTML</acronym></a>; as <acronym title="plain old semantic (X)HTML">POSH</acronym> as can be.</span>
				</div>
			</div> <!-- /.page-meta.clear -->
		</div> <!-- /#footer.center.clear -->