        <div id="header" class="center">
            <div class="article-logo floatLeft">
                <h1>
				    <a href="/" title="Return to homepage" tabindex="0" accesskey="H">
				        <span class="hoverline">kle</span><span class="middot">&middot;</span>p<span class="hoverline">as</span>
				    </a>
                </h1>
            </div>
            <div class="hero floatRight colSix">
                <p class="moin">You&#8217;re currently viewing a single article. Feel free to skip back to <a href="/" rel="home" title="Go back to the homepage" tabindex="0">&sect; Index</a> or straight to <a href="/#notebook" title="Skip straight to the latest article" tabindex="0" accesskey="L">&sect; Latest article</a>.</p>
			</div>
		</div> <!-- /#header.center -->