        <div id="header" class="center">
			<div class="logo floatLeft">
				<img width="224" height="342" alt="Leo, the site guardian lion." src="/images/leo.png" />
			</div>
			<div class="hero floatRight">
				<h1>
					<a href="/" title="Return to homepage" tabindex="0" accesskey="H">
						<span class="hoverline">kle</span><span class="middot">&middot;</span>p<span class="hoverline">as</span>
					</a>
				</h1>
				<p class="moin">Welcome to the website of <a href="/about.html#notebook" title="About Simon Pascal Klein &amp; contact details" tabindex="0" accesskey="A">Simon Pascal Klein</a>: gra&shy;phic <span class="amp">&amp;</span> web design&shy;er, ramp&shy;ant typ&shy;o&shy;phile and <acronym title="User Interface">UI</acronym> a&#64257;c&shy;io&shy;nado.</p>
				<p>Besides designing beautiful websites and functional interfaces, I love to share my passions with others. This site is my note&shy;book and port&shy;folio.</p>
			</div>
			<div class="skip">
				<span>Straight to: <a href="/#notebook" title="Skip straight to the latest article" tabindex="0" accesskey="L">&sect; Latest article</a> or <a href="/#portfolio" title="Skip straight to the portfolio" tabindex="0" accesskey="F">&sect; Portfolio</a></span>
			</div>
		</div> <!-- /#header.center -->