        <div id="nav" class="clear">
				<ul class="nav nav-header caps">
					<li><a href="/about.html" title="About &amp; contact information" tabindex="0">About <span class="amp">&amp;</span> Contact</a></li>
					<li><a href="/archives.html#cover" title="View the notebook archives" tabindex="0">Archives</a></li>
					<li><a href="/#portfolio" title="Skip to the portfolio" tabindex="0">Portfolio</a></li>
					<li><a href="/atom.xml" title="RSS feed link" tabindex="0"><acronym title="Really Simple Syndication">RSS</acronym></a></li>
				</ul>
			<div class="sitesearch floatRight">
                <form method="get" action="http://www.google.com/search">
                    <input id="s" class="text-input" type="text" value="" name="q" size="15" tabindex="0" accesskey="S" alt="Searchbox entry field" maxlength="255" value="" />
                    <input id="searchsubmit" class="submit-button" name="searchsubmit" type="submit" value="Search" tabindex="0" alt="Search button" />
                </form>
            </div>
			<div class="clear"></div>
        </div> <!-- /#nav.clear -->