        <div id="nav" class="clear">
            <ul class="nav nav-header caps">
				<li><a href="/about.html#notebook" title="About &amp; contact information" tabindex="0">About <span class="amp">&amp;</span> Contact</a></li>
				<li><a href="/archives.html#cover" title="View the notebook archives" tabindex="0">Archives</a></li>
				<li><a href="/#portfolio" title="Skip to the portfolio" tabindex="0">Portfolio</a></li>
				<li><a href="http://feeds.feedburner.com/klepas" title="Feed link" tabindex="0">Feed</a></li>
            </ul>
			<div class="sitesearch floatRight">
                <div class="sitesearch">
                    <!-- Google Custom Search Element -->
                    <form action="http://www.google.com/cse" class="center_column" />
                    <fieldset>
                       <input type="hidden" name="cx" value="012236898957532950839:9eegq1vhwts" />
                       <input type="hidden" name="ie" value="UTF-8" />
                       <input id="search" class="text-input" type="text" name="q" size="15" tabindex="0" accesskey="S" />
                       <input id="searchsubmit" type="submit" name="sa" value="Search" tabindex="0" />
                    </fieldset>
                </div>
            </div>
			<div class="clear"></div>
        </div> <!-- /#nav.clear -->