        <div id="nav" class="clear">
				<ul class="nav nav-header caps">
					<li><a href="/about" title="About &amp; contact information" tabindex="0">About <span class="amp">&amp;</span> Contact</a></li>
					<li><a href="/archives" title="View the notebook archives" tabindex="0">Archives</a></li>
					<li><a href="/#portfolio" title="Skip to the portfolio" tabindex="0">Portfolio</a></li>
					<li><a href="/feed" title="RSS feed link" tabindex="0"><acronym title="Really Simple Syndication">RSS</acronym></a></li>
				</ul>
			<div class="floatRight">
				<input id="s" name="s" class="text-input" type="text" value="" size="15" tabindex="0" accesskey="S" alt="Search entry field" />
				<input id="searchsubmit" class="submit-button" name="searchsubmit" type="submit" value="Search" tabindex="0" alt="Search button" />
			</div>
			<div class="clear"></div>
        </div> <!-- /#nav.clear -->