        <div id="portfolio" class="center clear">
			<div class="portheader">
                <h2>Portfolio preview</h2>
			</div>
			<div id="slider">
				<ul>
					<li>
						<img src="/files/portfolio/Adobe-Caslon-Pro_specimen_thumb.jpg" width="864" height="340" alt="Adobe Caslon Pro specimen design" />
					</li>
					<li>
						<img src="/files/portfolio/Aurora-grid-header.png" width="864" height="340" alt="Aurora job/ticketing system header grid" />
					</li>
					<li>
						<img src="/files/portfolio/Fontis-homepage-header.png" width="864" height="340" alt="Fontis.com.au homepage header" />
					</li>
					<li>
						<img src="/files/portfolio/got_it-preview.jpg" width="864" height="340" alt="Got_It digital asset management system preview" />
					</li>
					<li>
						<img src="/files/portfolio/waltz-icons.png" width="864" height="340" alt="Got_It digital asset management system preview" />
					</li>
					<li>
						<img src="/files/portfolio/apple-ipod-nano-icons.png" width="864" height="340" alt="Got_It digital asset management system preview" />
					</li>
				</ul>
			</div> <!-- /#slider -->
		</div> <!-- /#portfolio.center.clear -->